.mvn/
mvnw
mvnw.cmd
.idea/
*.iml
.git/
.gitignore
README.md
**/.idea/
**/*.iml
jackpot-core/target/
jackpot-bet/target/
jackpot-contribution/target/
jackpot-reward/target/
jackpot-app/target/classes/
jackpot-app/target/generated-sources/
jackpot-app/target/generated-test-sources/
jackpot-app/target/maven-archiver/
jackpot-app/target/maven-status/
jackpot-app/target/test-classes/
jackpot-app/target/*.original

